<a href="https://colab.research.google.com/github/javohuz/Data_Science_and_AI/blob/main/Pandas/%2301_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Series

- `import pandas as pd`
- `from pandas import Series` >> Malumotlar tuzilmasi , Python Dictionasrga uhshash
- `s[s>2]` >> Filtirlash as numpy
- `s.index`  `s.values`
- `series_list = Series(my_dict)` >> Dictdan Seriasga utish
<br>
<hr>
 Series malumotlar tuzilmasi == Python dict <br>
 Dictdagi amallarni Seriesda ham qullash mumkun

In [1]:
import pandas as pd
import numpy as np

In [3]:
from pandas import Series

In [40]:
s = Series([1, 3, 5, 7, 9] , index=['a','javohir','c','d','e'])
s[s>2]
s*2

a           2
javohir     6
c          10
d          14
e          18
dtype: int64

 Index and values

In [31]:
s.index
s.values

array([1, 3, 5, 7, 9])

Pyhton Lug'atlar bilan ishlash

In [41]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "state": "NY",
    "zip": "10001"
}

series_list = Series(my_dict)


```
`s = Series([1, 3, 5, 7, 9] , index=['a','b','c','d','e'])` `==` `s = Series({'a':1,'b':3,'c':5,'d':7,'e':9})`
```

In [42]:
s = Series({'a':1,'b':3,'c':5,'d':7,'e':9})
s

a    1
b    3
c    5
d    7
e    9
dtype: int64

In [46]:
model = ['b','c','a','d','i']
s= Series({'a':1,'b':3,'c':5,'d':7,'e':9} , index=model)
s

b    3.0
c    5.0
a    1.0
d    7.0
i    NaN
dtype: float64

# Series metodlari

-  `.isnull()` >> Series ichidagi volues larni 0 ga tengi bulsa True qaytaradi
- `.notnull()` >> isnull aksi volues = 0 False
- series lar ichida amllarni ham bajarish mumkun mos index lari nomi buyicha qushilishi yoki kupayishi mumkun
- `s.name = 'Dict" ` >> nom berish
- `s.index.name = 'harflar'`  indexlarga nom berish

In [50]:
s = Series({'a':1,'b':3,'c':5,'d':7,'e':9})
s.isnull()
s.notnull()

a    True
b    True
c    True
d    True
e    True
dtype: bool

In [52]:
s.name = 'Dict'
s.index.name = "harflar "
s

harflar
a    1
b    3
c    5
d    7
e    9
Name: Dict, dtype: int64